.panel.panel-default.project-list{id: "#{list.id}-List"}
  .panel-heading
    %strong= list.name
    .panel-tools
      .btn-group
        %a.btn.toggle-card-form{href: '#', data: {target: "add-card-form-#{list.id}"}}
          %i.icon-plus
          Add a card
    %div.add-card-form{id: "add-card-form-#{list.id}"}
      = simple_form_for list.cards.new, remote: true do |f|
        = f.input :list_id, input_html: {value: list.id}, as: :hidden
        = f.input :title, input_html: {id: "list-#{list.id}-title-input"}, as: :text, label: false
        = f.submit 'Create', class: 'btn btn-success'
        %a.toggle-card-form{href: '#', data: {target: "add-card-form-#{list.id}"}} Cancel

    .clearfix
  .panel-body.project-list-item{id: "list-#{list.id}"}
    =render list.cards.order('sort asc')
