.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = @profile.name
  .panel-body

    = simple_form_for(@profile) do |f|
      = f.error_notification

      .form-inputs
        = f.input :name
        = f.input :bio
        = f.input :blog
        = f.input :github
        = f.input :stackoverflow
        = f.input :twitter
        = f.input :facebook

      .form-actions
        = f.button :submit