= simple_form_for @current_project, url: collaborators_path, method: :post, remote: true do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_ids, hint: 'Search name or email. Try Onur, Tayfun, Muhammet, Hamit...', :input_html => { multiple: false, data: {autocomplete_source: auto_users_projects_path}, value: '', id: 'collaborator_user_id' }, as: :string

  .form-actions
    = f.button :submit, 'Add', class: 'btn btn-default'
    = link_to t('cancel'), projects_path, class: 'btn'