%tr
  %td= project.id
  %td= project.name

  %td.action
    = link_to(project, class: 'btn btn-success', toogle: 'tooltip', title: t('tooltips.zoom')) do
      %i.icon-zoom-in
    = link_to(edit_project_path(project) , class: 'btn btn-info') do
      %i.icon-edit
    = link_to(project, class: 'btn btn-danger', method: :delete) do
      %i.icon-trash