%tr
  %td= project.id
  %td
    =  link_to(project.name, project_path(project))
  %td.action
    = link_to(project, class: 'btn btn-success', toogle: 'tooltip', title: t('tooltips.zoom')) do
      %i.icon-zoom-in
    - if project.owner_id == current_user.id
      = link_to(edit_project_path(project) , class: 'btn btn-info') do
        %i.icon-edit
      = link_to(project, class: 'btn btn-danger', method: :delete, confirm: 'Are you sure?') do
        %i.icon-trash