- title 'Project - ' + @project.name
- content_for :toolbar do
  .pull-left.assigned-filters{data: {toggle: 'toolbar-tooltip'}, title: 'Collaborator filters'}
    = link_to project_path(@current_project, assigned: 'you'), class: "label label-default #{params[:assigned].present? ? 'active' : 'default'}" do
      %strong= current_user.assigned_to_you(@current_project)
      \- Assigned to you
    = link_to project_path(@current_project, created: 'you'), class: "label label-default #{params[:created].present? ? 'active' : 'default'}" do
      %strong= current_user.created_by_you(@current_project)
      \- Created by you
    = link_to project_path(@current_project), class: "label label-default #{(params[:created].present? || params[:assigned].present?) ? 'default' : 'active'}" do
      %strong= @current_project.cards.count
      \- Everyone
  #assign-project-collaborators.pull-right{data: {toggle: 'toolbar-tooltip'}, title: 'Drag and drop users to cards'}
    - @project.users.each do |user|
      = image_tag avatar_url(user), class: 'avatar-image avatar-image-md img-circle draggable', id: "#{user.id}-User" , title: user.name

.vertical-scroll{style: "width: #{@lists.count*315}px"}
  =render @lists
