- content_for :toolbar do
  = link_to edit_project_path(@project ), class: 'btn btn-default' do
    %i.icon-pencil
    = t('action_button.edit')
.vertical-scroll{style: "width: #{@project.lists.count*315 + 650}px"}
  - @project.lists.each do |list|
    .panel.panel-default.project-list
      .panel-heading
        %i.icon-edit.icon-large
        = list.name
      .panel-body.project-list-item
        - list.cards.each do |card|
          .card
            .card-header
              = card.title
            .card-body


  .panel.panel-default.project-list
    .panel-heading
      %i.icon-edit.icon-large
      Lorem ipsum
    .panel-body.project-list-item
      .card
        .card-header
          Dolor Sit Amet
        .card-body
          .icon-list
            1
          .icon-list
            2
          .icon-list
            3
          .user-icon
            user
  .panel.panel-default.project-list
    .panel-heading
      %i.icon-edit.icon-large
      Lorem ipsum
    .panel-body.project-list-item
      .card
        .card-header
          Dolor Sit Amet
        .card-body
          .icon-list
            1
          .icon-list
            2
          .icon-list
            3
          .user-icon
            user