- if card.id.present?
  .card.droppable{id: "#{card.id}-card"}
    = link_to '×', card_path(card), method: :delete, class: 'close', data: { toggle: 'tooltip' }, title: 'Remove Card', remote: true, confirm: 'Are you sure?'
    %p.title
      =link_to(truncate(card.title), card)
    .card-stats.card-stats-inline
      %span.stat{data: {toggle: 'tooltip'}, title: 'Checklists'}
        %i.icon-list
        = card.try(:checklist_total_count).to_s + '/' + card.try(:checklist_done_count).to_s
      %span.stat{data: {toggle: 'tooltip'}, title: 'Comments'}
        %i.icon-comments-alt
        = card.try(:comment_count)
      %span.stat{data: {toggle: 'tooltip'}, title: 'Attachments'}
        %i.icon-file-alt
        = card.try(:document_count)
      - if card.due_date.present?
        %span.stat{data: {toggle: 'tooltip'}, title: 'Due date', class: card.due_date < Date.current ? 'past_due' : ''}
          %i.icon-time
          = card.due_date.to_formatted_s(:short)
    .user
      - if card.assigned.present?
        = image_tag avatar_url(card.assigned), class: 'img-circle avatar-image avatar-image-md', data: {toggle: 'tooltip'}, title: card.try(:assigned).try(:name)
      - else
        = image_tag 'empty-collaborator.png', class: 'img-circle avatar-image avatar-image-md avatar-image-empty'
