- if card.id.present?
  .card{id: "#{card.id}-card"}
    = link_to '×', card_path(card), method: :delete, class: 'close', data: { toggle: 'tooltip' }, title: 'Remove Card', remote: true, confirm: 'Are you sure?'
    %p.title
      =link_to(truncate(card.title), card)
    .stats{class: card.assigned.present? ? 'default' : 'extended'}
      .stat{data: {toggle: 'tooltip'}, title: 'Checklists'}
        %i.icon-list
        = card.checklist_total_count.to_s + '/' + card.checklist_done_count.to_s
      .stat{data: {toggle: 'tooltip'}, title: 'Comments'}
        %i.icon-comments-alt
        = card.comment_count
      .stat{data: {toggle: 'tooltip'}, title: 'Attachments'}
        %i.icon-file-alt
        = card.document_count
      - if card.due_date.present?
        .stat{data: {toggle: 'tooltip'}, title: 'Due date'}
          %i.icon-time
          = card.due_date
    - if card.assigned.present?
      .user
        = image_tag avatar_url(card.assigned), class: 'img-circle', data: {toggle: 'tooltip'}, title: card.try(:assigned).try(:name)
