- content_for :toolbar do
  = link_to edit_card_path(@card ), class: 'btn btn-default' do
    %i.icon-pencil
    = t('action_button.edit')
.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = t('tt.show', resource_name: Card.model_name.human)
  .panel-body
    .row
      .col-md-10
        %p
          %strong Title
        %p
          = best_in_place @card, :title

        %p
          %strong Description
        %p
          = best_in_place @card, :body, type: :textarea

        #checklist_form
          = render 'checklists/form'
        #checklists
          = render @card.checklists



      .col-md-2
        = image_tag avatar_url(@card.assigned)
        %p
          = best_in_place @card, :assignment_id, type: :select, collection: @card.list.project.users.map{|u| [u.id, u.name]}
        %p
          %strong Due Date
        %p
          = best_in_place @card, :due_date, type: :date
        %p
          %strong= @card.comment_count
          Comment
        %p
          %strong= @card.document_count
          Document
        %p= "#{@card.checklist_total_count}/#{@card.checklist_done_count}"


#comments
  = render @card.comments

#comment_form
  = render 'comments/form'
