.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = t('tt.show', resource_name: Card.model_name.human)
  .panel-body
    .row
      .col-md-9
        %p
          %strong= best_in_place @card, :title, activator: '#card-title-edit-activator'
          %a#card-title-edit-activator.inplace-edit-activator{href: '#'}
            %i.icon-edit
            Edit title...
        %p
          = best_in_place @card, :body, type: :textarea, :display_with => lambda { |v| v.gsub(/\n/, '<br/>').html_safe }, activator: '#card-body-edit-activator'
          %a#card-body-edit-activator.inplace-edit-activator{href: '#'}
            %i.icon-edit
            Edit description...

        %hr/

        #checklist_form
          #progress-check-list
            %h4
              Checklists
              %span#checklist_percentage.pull-right.label.label-info.sml-text="#{@checklist_percentage} % Complete"
            .progress
              .progress-bar.progress-bar-info{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => @checklist_percentage, role: 'progressbar', style: "width: #{@checklist_percentage}%;"}
                %span.sr-only
                  ="#{@checklist_percentage}% Completed"

          = render 'checklists/form'
          #checklists
            = render @card.checklists

        %hr/
        #comments
          %h4 Comments
          = render @card.comments
        #comment_form
          = render 'comments/form'

      .col-md-3
        .panel.panel-default
          .panel-body
            .text-center
              #assigned_id
                = image_tag avatar_url(@card.assigned), class: 'pointer card-collaborator-edit-activator img-circle avatar-image'
              %p
                %strong.card-collaborator-edit-activator= best_in_place @card, :assignment_id, type: :select, nil: '<span></span>', collection: @collaborators.map{|u| [u.id, u.name]}, activator: '.card-collaborator-edit-activator'
                %br/
                %a.card-collaborator-edit-activator.inplace-edit-activator{href: '#'}
                  %i.icon-edit
                  Change collaborator...
                %br/
                = link_to card_path(@card, card: {assignment_id: nil}), class: 'inplace-edit-activator', method: :put, remote: true do
                  %i.icon-remove-circle
                  Remove assigned...
            %hr/

            %span.label.label-default.card-list{data: {toggle: 'tooltip'}, title: 'Current list'}
              = @card.list.name


            .card-stats.card-stats-lg
              %span#checklist_stat.stat
                %i.icon-list
                = @card.try(:checklist_done_count).to_s + '/' + @card.try(:checklist_total_count).to_s
                \- Checklist(s)

              %span#comment_stat.stat
                %i.icon-comments-alt
                = @card.try(:comment_count)
                \- Comment(s)

              %span.stat
                %i.icon-file-alt
                = @card.try(:document_count)
                \- Document(s)

              %span.stat.card-due_date-edit-activator{href: '#'}
                %i.icon-time
                = best_in_place @card, :due_date, type: :date, activator: '.card-due_date-edit-activator'
