- content_for :toolbar do
  = link_to edit_card_path(@card ), class: 'btn btn-default' do
    %i.icon-pencil
    = t('action_button.edit')
.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = t('tt.show', resource_name: Card.model_name.human)
  .panel-body
    = show_for @card do |s|
      = s.attribute :owner_id
      = s.attribute :assignment_id
      = s.association :list
      = s.attribute :title
      = s.attribute :body
      = s.attribute :due_date
      = s.attribute :done
      = s.attribute :comment_count
      = s.attribute :document_count
      = s.attribute :checklist_total_count
      = s.attribute :checklist_done_count
      = s.attribute :private
      = s.attribute :sort
