- content_for :toolbar do
  = link_to edit_card_path(@card ), class: 'btn btn-default' do
    %i.icon-pencil
    = t('action_button.edit')
.panel.panel-default
  .panel-heading
    %i.icon-edit.icon-large
    = t('tt.show', resource_name: Card.model_name.human)
  .panel-body
    .row
      .col-md-9
        %p
          %strong= best_in_place @card, :title, activator: '#card-title-edit-activator'
          %a#card-title-edit-activator.inplace-edit-activator{href: '#'}
            %i.icon-edit
            Edit title...
        %p
          = best_in_place @card, :body, type: :textarea, activator: '#card-body-edit-activator'
          %a#card-body-edit-activator.inplace-edit-activator{href: '#'}
            %i.icon-edit
            Edit description...

        %hr/

        #checklist_form
          %h4 Checklists
          = render 'checklists/form'
          #checklists
            = render @card.checklists

        %hr/
        #comments
          %h4 Comments
          = render @card.comments
        #comment_form
          = render 'comments/form'



      .col-md-3
        .panel.panel-default
          .panel-body
            .text-center
              = image_tag avatar_url(@card.assigned), class: 'pointer card-collaborator-edit-activator img-circle avatar-image'
              %p
                %strong.card-collaborator-edit-activator= best_in_place @card, :assignment_id, type: :select, nil: '<span></span>', collection: @card.list.project.users.map{|u| [u.id, u.name]}, activator: '.card-collaborator-edit-activator'
                %br/
                %a.card-collaborator-edit-activator.inplace-edit-activator{href: '#'}
                  %i.icon-edit
                  Change collaborator...
            %hr/

            .card-stats.card-stats-lg
              %span.stat
                %i.icon-list
                = @card.try(:checklist_total_count).to_s + '/' + @card.try(:checklist_done_count).to_s
                \- Checklist(s)

              %span.stat
                %i.icon-comments-alt
                = @card.try(:comment_count)
                \- Comment(s)

              %span.stat
                %i.icon-file-alt
                = @card.try(:document_count)
                \- Document(s)

              %span.stat.card-due_date-edit-activator{href: '#'}
                %i.icon-time
                = best_in_place @card, :due_date, type: :date, activator: '.card-due_date-edit-activator'
